{% extends 'base.html' %}
{% import 'macros.html' as macros %}
{% block body %}

<div class="row">
    <div class="span14">
        <form method="POST" action="{{ url_for('frontend.index') }}">
            <fieldset>
                {{ macros.render_field(form.url, with_label=True) }}
                <br />
                {{ macros.render_field(form.slug, with_label=True) }}
                <br />
                <input class="btn primary" type="submit" value="Make It Short !">
                {{ form.hidden_tag() }}
            </fieldset>
        </form>
    </div>
</div>

<div class="row">
    <div class="span14">
    {% if short_url %}
        <h1><a href="{{ short_url }}" class="shorturl">{{ short_url }}</a></h1>
        <img src="{{qr}}">
    {% endif %}
    </div>
</div>

{% endblock %}
