<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>اینپروبز کوتاه کننده لینک</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ CSS }}/style.css" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <!--link rel="stylesheet" href="font-awesome-4.7.0/font-awesome-4.7.0/css/font-awesome.min.css"!-->
  </head>
  <body>
        <div class="header">
            <a href="/">
              <img src="{{ IMG }}/inprobes-2color.png" class="header-image img-responsive" width="400px" height="auto">
            </a>
            <p class="header-text">کوتاه کننده لینک اینپروبز</p>

        </div>
            {% if short_url %}
            <div class="row col-md-12 url-box-fill">
            {% else %}
            <div class="row col-md-12 url-box-empty">
            {% endif %}
            <div class="row">
              <form method="POST" action="{{ url_for('frontend.index') }}">
                  <div class="inline col-md-6">
                    <input id="url" name="url" placeholder="URL" class="url-field" required=True value="{{form.url._value()}}" maxlength="" type="text">
                  </div>
                  <div class="inline col-md-3">
                    <input id="slug" name="slug" placeholder="slug" class="slug-field" maxlength="" value="{{form.slug._value()}}" type="text">
                      <br>
                    <span class="p-slug">* در صورت تمایل یک شناسه کوتاه وارد کنید.</span>
                  </div>
                  {{ form.hidden_tag() }}
                  <div class="inline col-md-3">
                    <button class="btn btn-defult btn-feature" type="submit">ساختن لینک کوتاه</button>
                  </div>
              </form>
            </div>
        </div>


        <div class="row col-md-12">
          <div class="col-md-6 short-url-1">
              {% if short_url %}
            <label class="short-url"><a href="{{ short_url }}" target="_blank">{{ short_url }}</a></label>
          </div>
          <div class="col-md-6 short-url-2">
            <a download="{{ short_url }}.png" href="{{qr}}" title="ImageName">
                <img src="{{qr}}" alt="QR Code of link is loading" width="150px;" height="auto;">
            </a>
              {% endif %}

          </div>
        </div>
        <div class="row col-md-12 ads">
        </div>
        <div class="col-xs-12">
          <div class="social-box">
            <ul class="socials">
                <li><a href="#" class="scl-icon" target="_blank"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a></li>
                <li><a href="#" class="scl-icon" target="_blank"><i class="fa fa-telegram fa-2x" aria-hidden="true"></i></a></li>
                <li><a href="#" class="scl-icon" target="_blank"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a></li>
                <li><a href="#" class="scl-icon" target="_blank"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></a></li>
            </ul>
          </div>
          <div class="brand">
              <p>اینپروبز 1396 - ساخته شده با <i class="fa fa-heart fa-lg fa-color" aria-hidden="true"></i> در تهران</p>
          </div>
        </div>
  <script type="text/javascript" src="scripts.js"></script>
  </body>
</html>
