@font-face {
    font-family: 'Vazir';
    src:url('fonts/Vazir.eot?#') format('eot'),
    url('fonts/Vazir.woff') format('woff'),
    url('fonts/Vazir.ttf') format('truetype');
}
@font-face {
    font-family: 'VazirB';
    src: url('fonts/Vazir-Bold.eot?#') format('eot'),
    url('fonts/Vazir-Bold.woff') format('woff'),
    url('fonts/Vazir-Bold.ttf') format('truetype');
}
body {
   	font-family: 'Vazir';
}
.header-image{
  margin: auto;
}
.header-text{
	margin: auto;
	width: 200px;
}
.header{
  margin-top: 30px;
}
.p-slug{
  opacity: 0.5;
  margin: auto;
  float:right;
  direction: rtl;
}
.url-field{
  min-width:100%;
  padding: 15px;
  color: #268363;
}
.slug-field{
  min-width:100%;
  padding: 15px;
  color: #268363;
}
.url-box-empty{
  margin: 40px auto auto auto;
  padding:  10px 70px;
}
.url-box-fill{
  padding:  10px 70px;
}
.btn-feature{
  min-width:100%;
  font-size: 20px;
  padding: 15px;
  background-color: #268363;
  color: #fff;
}
.btn-feature:hover{
    color: #832646;
    background-color: #E7E7E7;
}
a{
  text-decoration: none;
  color: #268363;
}
a:hover{
  color: #832646;
}
.short-url{
  background-color: #E7E7E7;
  # width: 80%;
  margin-top: 50px;
  padding: 20px;
}
.short-url-1{
  padding: 20px 0px 20px 200px;
  font-size: 25px;
  color: #268363;
}
.short-url-2{
  padding: 20px 300px 20px 150px;
  font-size: 25px;
  color: #268363;
}
.ads{
  border-top: 1px solid #832646;
  border-bottom: 1px solid #832646;
  min-height: 130px;
  margin: 0px;
  height: auto;
}
.social-box{
  margin: auto;
  width: 20%
}
.socials{
  list-style-type: none;
}
.socials>li{
  display: inline-block;
  padding: 5px;
}
.socials>li>a{
  color: #268363;
}
.socials>li>a:hover{
  color: #832646;
}
.fa-color{
  color: #832646;
}
p{
  font-weight: bold;
  font-size: 16px;
}
.brand{
  margin:auto;
  width:25%
}
div.inline { float:left; }
.clearBoth { clear:both; }
.container{
    min-height: 100%;
}